@charset "UTF-8";
/* CSS-reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Базовые параметры и ClearFix */
html {
  background-color: #ffd;
  font: 18px/1.45 Tahoma, sans-serif; }

::-moz-selection {
  color: #a54;
  background: #ffd; }

::selection {
  color: #a54;
  background: #ffd; }

.wrapper {
  min-height: -webkit-calc(100vh - 140px);
  min-height: calc(100vh - 140px); }

.container {
  max-width: 1170px;
  min-width: 960px; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

/* Блок хедера */
.header {
  background-color: #ccf;
  height: 80px;
  font-size: 3rem;
  text-align: center;
  line-height: 80px; }

/* Блок контентной части */
.main {
  margin: 40px 0; }

.text-cols {
  background-color: #a54;
  padding: 0 5px; }

.text-cols .text-cols__content {
  background-color: #a54;
  padding: 10px 5px; }

.text-cols__inner-content {
  background-color: #ccf;
  padding: 30px; }

/* Блок футера */
.footer {
  height: 100px;
  background-color: #ccf;
  font-size: 3rem;
  text-align: center;
  line-height: 100px; }

/* Адаптивка */
@media screen and (max-width: 480px) {
  .logo__text {
    font-size: 0.6rem; } }

@media screen and (min-width: 481px) and (max-width: 768px) {
  .logo__text {
    font-size: 0.9rem; } }

@media screen and (min-width: 769px) and (max-width: 992px) {
  .logo__text {
    font-size: 1.2rem; } }

@media screen and (min-width: 993px) and (max-width: 1200px) {
  .logo__text {
    font-size: 1.5rem; } }
