@keyframes fadeInUp
	from
		transform: translateY(20px) scale(1.2)
		opacity: 0
	to
		transform: translateY(0) scale(1)
		opacity: 1

@keyframes fadeInDown
	from
		transform: translateY(-50px) scale(1.2)
		opacity: 0
	to
		transform: translateY(0) scale(1)
		opacity: 1