/* Подключение шрифтов */

@font-face
	font-family: 'Roboto'
	src: url('../fonts/Roboto-Regular.eot')
	src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf') format('truetype')
	font-style: normal
	font-weight: normal

// подключаем CSS-сброс
@import reset

/* Шрифты, базовые параметры и ClearFix */

html
	background-color: #ffd
	font: 18px/1.45 Roboto, sans-serif

button:active
	transform: scale(0.98)

::selection
	color: #a54
	background: #ffd

.wrapper
	min-height: calc(100vh - 140px)

.container
	max-width: 97.5%

.clearfix::after
	content: ""
	display: table
	clear: both

/* Переменные */

$_8px: 0.4445rem
$_10px: 0.5556rem
$_11px: 0.6112rem
$_12px: 0.6667rem
$_14px: 0.7778rem
$_13px: 0.7223rem
$_15px: 0.8334rem
$_16px: 0.8889rem
$_17px: 0.9445rem
$_18px: 1rem
$_19px: 1.0556rem
$_20px: 1.1112rem
$_21px: 1.1667rem
$_22px: 1.2223rem
$_24px: 1.3334rem
$_28px: 1.5556rem
$_32px: 1.7778rem
$_34px: 1.8889rem
$_36px: 2rem
$_42px: 2.3334rem
$_48px: 2.6667rem
$_50px: 2.7778rem
$_52px: 2.8889rem
$_54px: 3rem
$_60px: 3.3334rem
$_70px: 3.8889rem


/* Блок хедера */

.header
	background-color: #ccf

.inner-header
	font-size: $_42px
	text-align: center
	padding: 10px 0

/* Блок контентной части */

.main
	margin-top: 30px
	margin-bottom: 40px

.text-cols
	background-color: #a54
	padding: 0 5px

.text-cols .text-cols__content
	background-color: #a54
	padding: 10px 5px

.text-cols__inner-content
	background-color: #ccf
	padding: 30px

/* Блок футера */

.footer
	height: 100px
	background-color: #ccf

.inner-footer
	font-size: $_42px
	text-align: center
	line-height: 100px

// подключаем медиа-запросы
@import media-queries